python-dotenv==1.0.1
langchain==0.3.21
langchain-mistralai==0.2.8
langchain-core==0.3.48
langchain-chroma==0.2.2
langchain-community==0.3.20
langchain-text-splitters==0.3.7
langgraph==0.3.20
langgraph-checkpoint==2.0.23
pydantic==2.10.6
typing_extensions==4.12.2
chromadb==0.6.3
fastapi==0.115.11
SQLAlchemy==2.0.39